<div class="">
  <!-- <div class="row rowTextoSolto">
    <div class="col-8 p-5">
      <span class="textoSolto">
        Que bom te ver aqui, vamos
      </span>
      <span class="textoSolto textoSoltoSub">
        agendar sua avaliação?
      </span>
    </div>
    <div class="col-4">
      <img src="../../../../../assets/img/logo reduzida.png" alt="donna laser"
      width="525"
      height="503"
      style="width: 525px; height: 503px; object-fit: cover; object-position: 50% 50%;"
      fetchpriority="high"
      class="logoReduzida">
    </div>
  </div> -->
  <div class="row">
    <div class="col-12 p-0">
      <div class="col-12 form-2-wrapper">
        <div class="logo">
          <h2>Agendamento de avaliação</h2>
        </div>
        <h5 class="mb-4">Informe seus dados de acesso</h5>
        <form action="#">
          <div class="row">
            <div class="col-12">
              <div class="mb-3 form-box">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" required>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 form-box">
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" required>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 form-box">
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone/WhatsApp" required>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3 form-box">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
              </div>
            </div>
          </div>
          <!-- <hr> -->
          <div class="row">
            <div class="col-12 d-flex justify-content-center mb-3">

              <ngb-datepicker #dp [(ngModel)]="model" class="calendario" (navigate)="date = $event.next" />
            </div>
            <div class="col-12" style="max-height: 260px; overflow-y: auto;">
              <div *ngFor="let teamSale of exemplos" class="pb-2">
                <span> <b>{{teamSale.name}} - {{teamSale.dia}}</b> <br> {{teamSale.population}}</span>
                <hr>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-secondary login-btn w-100 mb-3">Agendar</button>
          <app-sociaisFooter></app-sociaisFooter>
        </form>

        <p class="text-center register-test mt-3">
          <a href="register-3.html" class="text-decoration-none">Voltar para <b>Login</b></a>
        </p>
      </div>
    </div>
  </div>
</div>
