<div class="">
  <div class="row rowTextoSolto">
    <div class="col-8 p-5">
      <span class="textoSolto">
        Recuperação de código único para
      </span>
      <span class="textoSolto textoSoltoSub">
        agendamentos Donna Laser
      </span>
    </div>
    <div class="col-4">
      <img src="../../../../../assets/img/logo reduzida.png" alt="donna laser"
      width="525"
      height="503"
      style="width: 525px; height: 503px; object-fit: cover; object-position: 50% 50%;"
      fetchpriority="high"
      class="logoReduzida">
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center p-0">
      <div class="form-2-wrapper">
        <div class="logo text-center">
          <h2>Ops, você perdeu seu código?</h2>
        </div>
        <h4 class="text-center mb-4">Não se preocupe, enviaremos um novo para você!</h4>
        <form action="#">
          <div class="mb-3 form-box">
            <input type="email" class="form-control" id="email" name="email" placeholder="CPF" required>
          </div>
          <div class="mb-3">
            <div class="form-check pl-0">
              <a href="/login" class="text-decoration-none float-start">Retornar ao login</a>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-secondary login-btn w-100 mb-3">Receber novo código</button>
          <div class="social-login mb-3 type--A">
            <h3 class="text-center mb-3">Precisa de ajuda?</h3>
            <h6 class="text-center mb-3">Nos chame no WhatsApp:</h6>
            <div class="row divIconesSociais">
              <div class="col-8 row">
                <div class="col d-flex justify-content-center">
                  <a href="https://api.whatsapp.com/send?phone=554832481234&text=Ol%C3%A1%2C%20acessei%20o%20site%20e%20gostaria%20de%20ajuda%20para%20realizar%20agendamentos" target="_blank" rel="noopener noreferrer">
                    <span class="iconesSociais">
                      <i class="fa-brands fa-whatsapp" style="color: #4caf50;"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
        <p class="text-center register-test mt-3">
          <a href="/agendamentoAvaliacao" class="text-decoration-none">Aindão não é cliente? <b>Agende uma avaliação</b></a>
        </p>
      </div>
    </div>
  </div>
</div>
