<div class="">
  <!-- <div class="row rowTextoSolto">
    <div class="col-8 p-5">
      <span class="textoSolto">
        Recuperação de código único para
      </span>
      <span class="textoSolto textoSoltoSub">
        agendamentos Donna Laser
      </span>
    </div>
    <div class="col-4">
      <img src="../../../../../assets/img/logo reduzida.png" alt="donna laser"
      width="525"
      height="503"
      style="width: 525px; height: 503px; object-fit: cover; object-position: 50% 50%;"
      fetchpriority="high"
      class="logoReduzida">
    </div>
  </div> -->
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center p-0">
      <div class="form-2-wrapper">
        <div class="logo text-center">
          <h2>Ops, você perdeu seu código?</h2>
        </div>
        <h4 class="text-center mb-4">Não se preocupe, enviaremos um novo para você!</h4>
        <form action="#">
          <div class="mb-3 form-box">
            <input type="email" class="form-control" id="email" name="email" placeholder="CPF" required>
          </div>
          <div class="mb-3">
            <div class="form-check pl-0">
              <a href="/login" class="text-decoration-none float-start">Retornar ao login</a>
            </div>
          </div>
          <button *ngIf="!carregandoSolicitacao && !solicitacaoEnviada" (click)="enviarSolicitacao()" type="submit" class="btn btn-outline-secondary login-btn w-100 mb-3">Receber novo código</button>
          <div *ngIf="carregandoSolicitacao" class="col-12 d-flex justify-content-center pb-2">
            <div  class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngIf="solicitacaoEnviada"class="col-12">
            <div class="alert alert-success" role="alert">
              Tudo certo! Seu <b>novo código</b> será enviado para seu whatsapp.
            </div>
          </div>
          <!-- <app-sociaisFooter [habilitarWhatsapp]="true" [habilitarFacebook]="false" [habilitarInstagram]="false" [texto]="'Precisa de ajuda?'"></app-sociaisFooter> -->
        </form>
        <p class="text-center register-test mt-3">
          <a href="/agendamentoAvaliacao" class="text-decoration-none">Aindão não é cliente? <b>Agende uma avaliação</b></a>
        </p>
      </div>
    </div>
  </div>
</div>
