<div class="">
  <div class="row rowTextoSolto">
    <div class="col-8 p-5">
      <span class="textoSolto">
        Criamos um modo de agendamento especialmente
      </span>
      <span class="textoSolto textoSoltoSub">
        pensado em você
      </span>
    </div>
    <div class="col-4">
      <img src="../../../../../assets/img/logo reduzida.png" alt="donna laser"
      width="525"
      height="503"
      style="width: 525px; height: 503px; object-fit: cover; object-position: 50% 50%;"
      fetchpriority="high"
      class="logoReduzida">
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center p-0">
      <div class="form-2-wrapper">
        <div class="logo text-center">
          <h2>Bem vindo</h2>
        </div>
        <h2 class="text-center mb-4">Informe seus dados de acesso</h2>
        <form action="#">
          <div class="mb-3 form-box">
            <input type="email" class="form-control" id="email" name="email" placeholder="CPF" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Código Donna Laser" required>
          </div>
          <div class="mb-3">
            <div class="form-check pl-0">
              <a href="forget-3.html" class="text-decoration-none float-end">Perdi meu código Donna Laser</a>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-secondary login-btn w-100 mb-3">Ir para agendamentos</button>
          <div class="social-login mb-3 type--A">
            <h5 class="text-center mb-3">Redes sociais</h5>
            <div class="row divIconesSociais">
              <div>
                <a href="https://www.facebook.com/donnalaser.depilacao/" target="_blank" rel="noopener noreferrer">
                  <span class="iconesSociais mr-4">
                    <i class="fa-brands fa-facebook"></i>
                  </span>
                </a>
              </div>
              <div>
                <a href="https://www.instagram.com/donnalaser" target="_blank" rel="noopener noreferrer">
                  <span class="iconesSociais mr-4">
                    <i class="fa-brands fa-instagram"></i>
                  </span>
                </a>
              </div>
              <div>
                <a href="https://api.whatsapp.com/send?phone=554832481234&text=Ol%C3%A1%2C%20acessei%20o%20site%20e%20gostaria%20de%20ajuda%20para%20realizar%20agendamentos" target="_blank" rel="noopener noreferrer">
                  <span class="iconesSociais">
                    <i class="fa-brands fa-whatsapp"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </form>

        <p class="text-center register-test mt-3">
          <a href="register-3.html" class="text-decoration-none">Aindão não é cliente? <b>Agende uma avaliação</b></a>
        </p>
      </div>
    </div>
  </div>
</div>
